# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution
build/
dist/
*.egg-info/

# Release
release/

# VSCode
.vscode/

# SQLite
*.db
*.sqlite3

# Logs
*.log

# Environment
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Excel
*.xlsx